@model BroadcastScheduleViewModel
@{
    ViewData["Title"] = "Home";
    var message = TempData["Message"] == null ? string.Empty : TempData["Message"].ToString();
}
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="lead">Broadcast Details</p>
    </div>
    <div>
        &nbsp;
        @if(message != null){ 
            <p class="alert alert-info">@message</p>
        }
    </div>
    <form class="form-horizontal" asp-action="index" role="form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="From" class="control-label col-xs-2"></label>
            <div class="col-xs-6">
                <input type="text" asp-for="From" class="form-control" placeholder="Broadcast Sender" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">To</label>
            <div class="col-xs-6">
                <input type="file" class="form-control" name="csvUploadFile" id="csvUploadFile" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Subject" class="control-label col-xs-2"></label>
            <div class="col-xs-6">
                <input class="form-control" asp-for="Subject" placeholder="Broadcast subject" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="control-label col-xs-2"></label>
            <div class="col-xs-6">
                <input class="form-control" asp-for="Code" placeholder="Broadcast code *must be unique*" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="control-label col-xs-2"></label>
            <div class="col-xs-6">
                <textarea id="Message" name="Message" rows="2" cols="50" class="form-control" placeholder="Broadcast message"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label col-xs-2"></label>
            <div class="col-xs-6">
                <textarea id="Description" name="Description" rows="2" cols="50" class="form-control" placeholder="Brief description about the broadcast"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <label asp-for="RunOnce" class="radio-inline col-xs-4">
                    <input asp-for="RunOnce" value=true type="radio" id="RunOnce" checked="checked">Run Once
                </label>
                <label asp-for="RunOnce" class="radio-inline col-xs-4">
                    <input asp-for="RunOnce" value=false type="radio" id="Schedule">Schedule
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" asp-for="ScheduleDate"></label>
            <div class="col-xs-2">
                <input asp-for="ScheduleDate" class="form-control" placeholder="YYYY-MM-DD HH:MM" disabled />
            </div>
            <label class="control-label col-xs-1" asp-for="RepeatEndDate"></label>
            <div class="col-xs-2">
                <input asp-for="RepeatEndDate" class="form-control" placeholder="YYYY-MM-DD HH:MM" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" asp-for="Repeat"></label>
            <div class="col-xs-2">
                <select class="form-control" asp-for="Repeat" disabled>
                    <option value="DAILY">DAILY</option>
                    <option value="WEEKLY">WEEKLY</option>
                    <option value="MONTHLY">MONTHLY</option>
                    <option value="YEARLY">YEARLY</option>
                </select>
            </div>
            <label class="control-label col-xs-1" asp-for="Frequency"></label>
            <div class="col-xs-1">
                <input type="text" asp-for="Frequency" value="1" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <input type="submit" class="btn btn-danger" value="Send Broadcast" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <link rel="stylesheet" href="~/lib/datetimepicker/build/jquery.datetimepicker.min.css" />
    <script src='~/lib/datetimepicker/build/jquery.datetimepicker.full.js'></script>
    <script>
        $(function(){
            $('#Schedule').click(function(){
                $('#Repeat').removeAttr('disabled');
                $('#ScheduleDate').removeAttr('disabled');
                $('#Frequency').removeAttr('disabled');
                $('#RepeatEndDate').removeAttr('disabled');
            });

            $('#RunOnce').click(function(){
                $('#Repeat').prop('disabled', 'disabled');
                $('#ScheduleDate').prop('disabled', 'disabled');
                $('#Frequency').prop('disabled', 'disabled');
                $('#RepeatEndDate').prop('disabled', 'disabled');
            });

            $('#ScheduleDate').datetimepicker({
                format: 'Y-m-d H:i'
            });

            $('#RepeatEndDate').datetimepicker({
                format: 'Y-m-d H:i'
            });
        });        
    </script>
}
