@model BroadcastScheduleViewModel
@{
    ViewData["Title"] = "Home";
    var message = TempData["Message"] == null ? string.Empty : TempData["Message"].ToString();
}
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="lead">Broadcast Details</p>
    </div>
    <div>&nbsp;</div>
    <form class="form-horizontal" asp-action="index" role="form" method="POST">
        <div class="form-group">
            <label asp-for="From" class="control-label col-xs-2"></label>
            <div class="col-xs-6">
                <input type="text" asp-for="From" class="form-control" placeholder="Broadcast Sender" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="To" class="control-label col-xs-2"></label>
            <div class="col-xs-6">
                <textarea id="To" name="To" rows="3" cols="50" class="form-control" placeholder="Recipients of the broadcast. Seperate numbers using a comma (,)"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Subject" class="control-label col-xs-2"></label>
            <div class="col-xs-6">
                <input class="form-control" asp-for="Subject" placeholder="Broadcast subject" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="control-label col-xs-2"></label>
            <div class="col-xs-6">
                <textarea id="Message" name="Message" rows="2" cols="50" class="form-control" placeholder="Broadcast message"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <label asp-for="RunOnce" class="radio-inline col-xs-4">
                    <input asp-for="RunOnce" value="RunOnce" type="radio" name="ScheduleRadio" checked="checked">Run Once
                </label>
                <label asp-for="Schedule" class="radio-inline col-xs-4">
                    <input asp-for="Schedule" value="Schedule" type="radio" name="ScheduleRadio">Schedule
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" asp-for="ScheduleDate"></label>
            <div class="col-xs-6">
                <input asp-for="ScheduleDate" class="form-control" placeholder="Schedule date YYYY-MM-DD" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2" asp-for="Repeat"></label>
            <div class="col-xs-2">
                <select class="form-control" asp-for="Repeat" disabled>
                    <option value="DAILY">DAILY</option>
                    <option value="DAILY">WEEKLY</option>
                    <option value="DAILY">MONTHLY</option>
                    <option value="DAILY">YEARLY</option>
                </select>
            </div>
            <label class="control-label col-xs-1" asp-for="Frequency"></label>
            <div class="col-xs-1">
                <input type="text" asp-for="Frequency" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6">
                <input type="submit" class="btn btn-danger" value="Send Broadcast" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <link rel="stylesheet" href="~/lib/datetimepicker/build/jquery.datetimepicker.min.css" />
    <script src='~/lib/datetimepicker/build/jquery.datetimepicker.full.js'></script>
    <script>
        $(function(){
            $('#Schedule').click(function(){
                $('#Repeat').removeAttr('disabled');
                $('#ScheduleDate').removeAttr('disabled');
                $('#Frequency').removeAttr('disabled');
            });

            $('#RunOnce').click(function(){
                $('#Repeat').prop('disabled', 'disabled');
                $('#ScheduleDate').prop('disabled', 'disabled');
                $('#Frequency').prop('disabled', 'disabled');
            });

            $('#ScheduleDate').datetimepicker({
                timepicker : false,
                format: 'Y-m-d'
            });
        });        
    </script>
}
